.email{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* .theme-btn i{
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 400;
} */
.cco{
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.btn{
    padding: 0px !important;
}

h1.scroll-animation{
        width: 111vh;
}








.hero-section .hero-content .facts {
   
    margin-top: -169px !important
    ;

    margin-bottom: -90px;
}


a:hover {
    color: #603835 !important;
}


  @media (max-width: 768px) {

.hero-section .hero-content .facts {
   
    margin-top: 0px !important
    ;

    margin-bottom: 0px;
}

.portfolio-item h2{
    align-items: center;
    text-align: center;
}
  }