.email{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

 .theme-btn i{
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 400;
} 
.cco{
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.btn{
    padding: 0px !important;
}



.left-sidebar .social-profile {
    gap: 8px;
    margin-bottom: 44px !important;
}





.hero-section .hero-content .facts {
   
    margin-top: -169px !important
    ;

    margin-bottom: -90px;
}

.hero-section .hero-content > p {
    max-width: fit-content !important;

}

h1.scroll-animation {
    width: max-content;
}


a:hover {
    color: #603835 !important;
}


  @media (max-width: 768px) {

.hero-section .hero-content .facts {
   
    margin-top: 0px !important
    ;

    margin-bottom: 0px;
}

.portfolio-item h2{
    align-items: center;
    text-align: center;
}
h1.scroll-animation {
    width: auto;
}

.left-sidebar .social-profile {
    gap: 8px;
    margin-bottom: auto;
}
  }