.email{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* .theme-btn i{
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 400;
} */
.cco{
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.btn{
    padding: 0px !important;
}

h1.scroll-animation{
        width: 111vh;
}

p.scroll-animation{
            max-width: 98% !important;
    line-height: 35px;
    font-size: 19px;
}



.col-md-12.scroll-animation {
    padding-bottom: 30px;
}

.hero-section .hero-content > p{
       max-width: auto !important;
}